<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.NewsDao">

	<select id="selectAll" resultType="com.example.app.domain.News">
		SELECT
		id, title, author, post_date
		FROM news
		ORDER BY post_date DESC
	</select>

	<select id="selectById" parameterType="int"
		resultType="com.example.app.domain.News">

	</select>

	<insert id="insert" parameterType="com.example.app.domain.News">

	</insert>

</mapper>